In [75]:
import os
import pandas as pd
import tabula
from tabula import read_pdf

table1 = pd.read_excel("C:\\Users\\rw38913\Desktop\\Master DTAC Solution 52588\\52588.xlsx")

#df = pd.DataFrame(df)

In [76]:
df = pd.DataFrame(table1)

In [77]:
df.head()

                CCMS CCMS Model Last published Title
0  52588 General ISG solutions 3/27/20 AMS Master...
1  116762 General ISG solutions 3/3/20 Factory In...
2  82793 General ISG solutions 3/3/20 John Deere ...
3  64710 General ISG solutions 12/16/19 Precision...
4  106370 General ISG solutions 11/18/19 End of F...

In [82]:
df['cleaned'] = df['CCMS CCMS Model Last published Title'].str.split(' ').str[0]

In [83]:
df.head()

                CCMS CCMS Model Last published Title cleaned
0  52588 General ISG solutions 3/27/20 AMS Master...   52588
1  116762 General ISG solutions 3/3/20 Factory In...  116762
2  82793 General ISG solutions 3/3/20 John Deere ...   82793
3  64710 General ISG solutions 12/16/19 Precision...   64710
4  106370 General ISG solutions 11/18/19 End of F...  106370